html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #000;
}

table {
  border-collapse: collapse;
}

td {
  width: 8px;
  height: 8px;
}

#controls button {
  margin-top: 1rem;
  padding: 8px 32px;
  background-color: white;
  border: 0px;

  font-family: monospace;
}
